<h1>Voici le formulaire que tu as rempli</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Username: <%=@user.username%></h5>
    <h6 class="card-subtitle mb-2 text-muted">Email: <%= @user.email%></h6>
    <p class="card-text">Bio: <%=@user.bio%></p>
  </div>
</div>
